<html>
    <head>
        <title>Volume Test</title>
    </head>
    <body>
        <h1>Volume Test Page</h1>
        <p>This page is for testing volume adjustments.</p>
        <form action="/volume_test" method="post">
            <label for="volume_rtc_index">Volume RTC Index:</label>
            <input type="text" id="volume_rtc_index" name="volume_rtc_index">
            <button type="submit" id="change_volume_button">Change Volume</button>
        </form>
        <div id="spectrum_output">Output Spectrum will be displayed here.</div>
        <button id="reset_button">Reset</button>
    </body>
</html>
